/* coding css bagian header */
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  width: 100%;
  height: 50px;
}

header ul li {
  list-style: none;
  display: inline-block;
  height: 50px;
  margin: 15px 0;
}

header ul li a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-family: arial;
  font-size: 20px;
}


main {
  background-color: aqua;
  width: 100%;
}
/* coding css bagian gambar hamburger */
div.slider {
  padding: 15px;
  overflow: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid black;
  height: 500px;
}
img.slider-img {
  width: 100%;
}
/* coding css pada bagian div.content */
div.content {
  padding-top: 50px;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}
img.image {
  width: 280px;
  height: 250px;
  float: left;
  padding-left: 20px;
}
p.p-text {
  width: 1000px;
  column-count: 4;
  column-rule: 2px solid black;
  padding-left: 25px;
  padding-bottom: 25px;
  text-align: justify;
}
/* coding css bagian footer */
footer.footer {
  background-color: black;
  width: 100%;
  height: 40px;
  margin-top: 30px;
}
footer.footer h2 {
  color: white;
  text-align: center;
}
